
  <footer>
    <!-- Full-width container -->
    <div class="container-fluid p-0" id="footer">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
    <section class="mb-4">
    <!-- Social media icons -->
    <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-google"></i> <!-- Google icon -->
    </a>
    <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/niels-ayigbede-a0052217b/" role="button">
        <i class="fab fa-linkedin-in"></i> <!-- LinkedIn icon -->
    </a>
    <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/leN43" role="button">
        <i class="fa-brands fa-github"></i> <!-- GitHub icon -->
    </a>
</section>

        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Copyright © 2023 - Niels Ayigbede Portfolio

      </div>
      <!-- Copyright -->
    </div>
    <!-- Full-width container -->
  </footer>
