<div class="container mt-6">
  <div class="rectangle">
    <h1>About Us</h1>
    <p class="aboutP"> <!-- Apply the text-lg class to make the font size bigger -->
      Welcome to TheRightRecipe.
      A web app made to help
      you find easy and quick recipes.
      Type an ingredient and
      get a recipe that you
      can cook in 30 min or less!
    </p>
  </div>
  <!-- Add more content here -->
</div>
