<div class="container text-center mt-2">
  <div class="row">
    <div class="col">
      <div class="cadre">
          <h1>TheRightRecipe</h1>
          <div class="box">
            <h2>Get a Recipe</h2>
            <div class="search-container">
              <input type="text"
              placeholder="Enter an ingredient"
              id="ingredient"
              >
              <button class="btn btn-outline-dark btn-lg">SEARCH</button>
              </div>
              <div id="result">
                <h2>La recette</h2>
              </div>
            </div>

        </div>
    </div>
  </div>
</div>
