<div class="container text-center mt-6">
  <div class="row">
    <div class="col">
      <div class="cadre">
          <div class="box">
            <h1>The Right Recipe</h1>
            <h2>GET A RECIPE</h2>
            <div class="search-container">
              <input type="text"
              placeholder="Type an ingredient"
              id="ingredient"
              >
              <button class="btn btn-outline-primary" id="searchBtn">SEARCH</button>
              </div>
              <div id="result">
              </div>
            </div>

        </div>
    </div>
  </div>
</div>
