footer {
  margin-top: auto;
  text-align: center;
  color: $beige;
  padding: 10px 0;
  background: $black;
  width: 100%;
  opacity: 0.9;
  position: sticky;
  top: 50em;

}

footer .copyright {
  margin-bottom: 0.3rem;
}
